body {
    background-color: rgba(221, 21, 21, 0.486);
}

.panels {
    min-height: 100vh;
    display: flex;
}

.panel {
    border: 1px solid black;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel-1 {
    background-image: url('../images/analogue-classic-clock-280264.jpg')
}

.panel-2 {
    background-image: url('../images/black-background-clock-hour-39557.jpg')
}

p {
    visibility: hidden;
}

button {
    background-color: teal;
    border: 2px solid teal;
    color: gainsboro;
    margin: 5px;
}